@import "./variables.scss";

.gradient-subtitle {
  margin-bottom: 2rem;
}

.about-me {
  width: 60%;
  margin: 3rem 20%;
}

@media (max-width: 500px) {
  .about-me {
    padding: 0;

    &::after {
      top: 6.5rem;
    }
  }
}

.content {
  p {
    margin-bottom: 1.3rem;
    border-left: 3px solid $link;
    border-radius: 2px;
    padding-left: 0.2rem;
  }
}

@media (max-width: 500px) {
  .content {
    padding-top: 2rem;

    p {
      font-size: 1.2rem;
    }
  }
}
