@import "./variables.scss";

.hero {
  margin: 3rem;
  min-height: 2rem;
  text-align: center;
  font-size: 2em;
}

.intro,
.name,
.charge {
  padding: 1rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro {
  background-image: linear-gradient(45deg, $gradient-intro1, $gradient-intro2);
}

.name,
.charge {
  font-weight: 700;
  // padding: 1rem;
  background-image: linear-gradient(75deg, $gradient-name1, $gradient-name2);
  font-size: 4rem;
}

.name {
  margin-bottom: 1rem;
}

.wrap-container {
  display: flex;
  justify-content: center;
}

.wrap-gradient {
  text-align: center;
  display: flex;
}

// > 700px
@media (min-width: 760px) {
  .name {
    margin-bottom: 2rem;
  }
}

// < 700px
@media (max-width: 760px) {
  .wrap-gradient {
    flex-direction: column;

    .charge {
      line-height: 3.5rem;
    }
  }
}

// < 550px
@media (max-width: 550px) {
  .intro {
    font-size: 1.3rem;
  }

  .name,
  .charge {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 0;
  }
}

.likes {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.8rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 500px) {
  .buttons {
    font-size: 1.5rem;
  }
}
