@import "./variables.scss";

.navbar {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;

  .nav-ul {
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 0 0 2rem 2rem;
    background-image: linear-gradient(
      50deg,
      rgb(40, 32, 160) 0%,
      rgb(112, 7, 98) 100%
    );
  }

  .icon {
    cursor: pointer;
    list-style: none;
  }

  .icon-link {
    display: inline-block;
    padding: 0.4rem;
    width: 10ch;
    display: flex;
    justify-content: center;

    .icon-img,
    .icon-text {
      color: white;
      transition: all 800ms ease-in-out;
    }

    .icon-img {
      display: none;
      opacity: 0;
      width: 2rem;
    }

    .icon-text {
      opacity: 1;
    }

    &:hover {
      .icon-img {
        opacity: 1;
        display: inline-block;
      }

      .icon-text {
        opacity: 0;
        display: none;
      }
    }
  }

  .icon-img-hover {
    width: 2rem;
    height: 2rem;
    background: url("../assets/up-arrow.png");

    &:hover {
      width: 3rem;
      background: url("../assets/white-koi-kanji.svg");
    }
  }
}

// < 600px
@media (max-width: 600px) {
  .nav {
    .icon-img {
      width: 3rem;
    }
    .nav-ul {
      position: relative;
      flex-direction: row;
      border-radius: 0 0 2rem 2rem;

      & .icon:first-child {
        margin-right: auto;
      }
    }
  }
}
