@import "./variables.scss";

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  gap: 0.3rem;
}

.nav-ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  // padding: 0.2rem;
  border-radius: 0 0 2rem 2rem;
  background-image: linear-gradient(
    50deg,
    rgb(40, 32, 160) 0%,
    rgb(112, 7, 98) 100%
  );
}
@media (max-width: 800px) {
  .nav-ul {
    left: 34vw;
  }
}

.icon {
  cursor: pointer;
  list-style: none;
}

.icon-link {
  display: inline-block;
  padding: 0.4rem;
}

.icon-img {
  width: 2rem;
}

.icon-img-hover {
  width: 2rem;
  height: 2rem;
  background: url("../assets/up-arrow.png");

  &:hover {
    width: 3rem;
    background: url("../assets/white-koi-kanji.svg");
  }
}

// < 600px
@media (max-width: 600px) {
  .nav {
    .icon-img {
      width: 3rem;
    }
    .nav-ul {
      position: relative;
      flex-direction: row;
      border-radius: 0 0 2rem 2rem;

      & .icon:first-child {
        margin-right: auto;
      }
    }
  }
}
