@import "./variables.scss";

.row-normal,
.row-reverse {
  font-size: 13px;
  color: #000;
  text-shadow: 0 0 10px rgb(156, 233, 255), 2px 6px 1px rgba(206, 89, 55, 0);
  display: flex;
  border-radius: 1rem;
  text-align: center;
  gap: 1rem;
}

.row-normal {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.project-title {
  margin-bottom: 1rem;
}

.tech-stack-section {
  .tech-wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10%;
  }

  .stack-title {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.2rem;
  }
}

.thumbnail-wrapper,
.desc-section {
  width: 50%;
}

.thumbnail {
  border-radius: 1rem;
  width: 100%;
  min-height: 200px;
  height: 100%;
  object-fit: cover;
  border-right: 2px solid $project-bg;
  border-bottom: 2px solid $project-bg;
}

.desc-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: $project-bg;
  border-radius: 1rem;
}

.links {
  margin-top: 0.5rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
  // avoid whole overlay from moving itself on hover
  height: 36px;

  .link {
    font-weight: 700;
    display: flex;
    justify-content: center;
    min-width: 15ch;
    text-align: center;
  }
}

.project-wrapper {
  img {
    width: 1.3rem;
  }
}

// todo: change this to 900
// < 750px,
@media (max-width: 750px) {
  .project-wrapper {
    flex-direction: column-reverse;

    > * {
      width: 100%;
      flex: 1;
    }
  }

  .thumbnail-wrapper,
  .desc-section {
    width: 100%;
  }

  .links {
    gap: 0.5rem;
    flex-direction: row;
  }

  .link {
    width: 50%;
    min-width: 0;
  }
}
