@import "./variables.scss";

.skills {
  .blue-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      30deg,
      rgb(255, 116, 255),
      $gradient-intro1
    );
  }

  overflow-y: hidden;
  width: 80%;
  margin: 0 auto;

  h3 {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .tech-stack--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
    height: fit-content;
  }

  .img-container {
    width: 6rem;
    height: 6rem;

    // border-radius: 68% 32% 80% 20% / 30% 53% 47% 70%;
    transition: all 300ms ease-in-out;

    &:hover {
      transform: skew(-13deg);
    }
  }

  img {
    object-fit: cover;
    width: 100%;
  }
}
