$link: #69c3ff;
$link-hover: rgb(255, 159, 242);
$dark: #232323;
$clear: #fefefe;

$purple: rgb(183, 52, 165);
$nav-bg: rgb(71, 0, 60);
$bg-color: #111827;
$project-bg: rgba(113, 236, 255, 0.8);

$btn-bg: rgb(255, 130, 255);
$btn-border: rgb(133, 45, 119);

$gradient-intro1: rgb(35, 226, 255);
$gradient-intro2: rgb(47, 95, 255);

$gradient-name1: rgba(236, 114, 167, 1) 0%;
$gradient-name2: rgba(69, 154, 255, 1) 100%;
